:root {
	--qol-zoomed-avatar-container-display: flex;
}

@media screen and (max-width: 1000px) {
	.qol-extension-window {
		#qol-zoomed-avatar-image {
			display: none;
		}
	}
}

.qol-extension-window {
	.flex-container {
		display: flex;
		flex-wrap: nowrap;
	}

	.flex-column {
		flex-direction: column;
	}

	.bg-black {
		background-image: unset !important;
    	background-color: var(--black30a);
	}

	.flex-container:not(.flex-column) {
		align-items: center;
	}

	.gap-5px {
		gap: 5px;
	}

	.p-0 {
		padding: 0px;
	}

	.mb-10px {
		margin-bottom: 10px;
	}
	
	#qol-sound-volume {
		flex: 1;
		max-width: 70%;
	}
	
	.separator-bottom {
		border-bottom: 1px solid #2a2a2a;
		padding-bottom: 1vh;
		margin-bottom: 1vh;
	}

	.separator-bottom-thin {
		border-bottom: 1px solid #2a2a2a;
	}

	.d-none {
		display: none !important;
	}

}

#qol-zoomed-avatar-image {
	width: 100%;
	width: -webkit-fill-available;
}

#qol-zoomed-avatar-refresh {
	position: absolute;
    left: 0;
    top: 0;
	margin: 0;
	padding: 3px;
    aspect-ratio: 1;
    border: none;
	background-color: rgba(0 0 0 / 70%);
}

#qol-zoomed-avatar-container {
	display: var(--qol-zoomed-avatar-container-display);
	position: fixed;
	bottom: 0;
	left: 0;
	width: calc((100vw - var(--sheldWidth)) / 2 - 1px);
}