:root {
	--qol-zoomed-avatar-container-display: flex;
	--qol-st-zoomed-avatar-container-display: none;
}

@-moz-document url-prefix() {
    #qol-zoomed-avatar-image {
        width: 100% !important;
    }
}

@media screen and (max-width: 1000px) {
	.qol-extension-window {
		#qol-zoomed-avatar-image {
			display: none;
		}
	}
}

div.zoomed_avatar:has(.zoomed_avatar_img) {
	display: var(--qol-st-zoomed-avatar-container-display) !important;
}

.qol-extension-window {
    --qol-separator-bottom: linear-gradient(90deg, var(--transparent), color-mix(in srgb, var(--SmartThemeBodyColor), transparent 80%), var(--transparent)) 1;
	--qol-border-color: var(--SmartThemeBorderColor);

	label.flex-container {
		gap: 10px;
	}

	.flex-container {
		display: flex;
		flex-wrap: nowrap;
		gap: 5px;
	}

	.flex-column {
		flex-direction: column;
	}

	.bg-black {
		background-image: unset !important;
    	background-color: var(--black30a);
	}

	.flex-container:not(.flex-column) {
		align-items: center;
	}

	.gap-5px {
		gap: 5px;
	}

	.p-0 {
		padding: 0px;
	}

	.p-5px {
		padding: 5px;
	}

	.m-10px {
		margin: 10px;
	}

	.mb-10px {
		margin-bottom: 10px;
	}

	.text-em-color {
		color: var(--SmartThemeEmColor);
	}

	.text-quote-color {
		color: var(--SmartThemeQuoteColor);
	}

	.scroll {
		--scrollbarTrackColor: rgb(255 255 255 / 10%);
		max-height: 50vh;
		overflow-y: scroll;
		scrollbar-color: inherit var(--scrollbarTrackColor);
	}

	.scroll::-webkit-scrollbar {
		background-color: var(--scrollbarTrackColor);
	}

	.max-h-20 {
		max-height: 20vh;
	}

	.bg-ui {
		background-color: var(--SmartThemeBlurTintColor);
	}

	.bg-ui-darker {
		background-color: color-mix(in srgb, var(--SmartThemeBlurTintColor), var(--black30a));
	}

    .separator-bottom {
        border-bottom: 1px solid;
        border-image: var(--qol-separator-bottom) !important;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-radius: 0;
    }

	.separator-bottom.thin {
        padding-bottom: 0;
        margin-bottom: 0;
	}

    .border {
        border: 1px solid;
        border-color: var(--qol-border-color) !important;
        padding: 5px 10px;
    }

    .border-left {
        border-left: 1px solid;
        border-left-color: var(--qol-border-color) !important;
        padding-left: 10px;
    }

	.cursor-pointer {
		cursor: pointer;
	}

	.d-none {
		display: none !important;
	}

	input[type="checkbox"] {
		margin-right: 0;
	}
}

#qol-sound-volume {
	flex: 1;
	max-width: 70%;
}

#qol-zoomed-avatar-image {
	width: 100%;
	width: -webkit-fill-available;
}

#qol-zoomed-avatar-toolbar {
	position: absolute;
    left: 0;
    top: 0;

	.menu_button {
		margin: 0;
		padding: 3px;
		aspect-ratio: 1;
		border: rgba(0 0 0 / 60%);
		background-color: rgba(0 0 0 / 60%);
	}

	.menu_button:hover {
		background-color: rgba(255 255 255 / 60%);
		color: black;
	}
}

#qol-zoomed-avatar-container {
	display: var(--qol-zoomed-avatar-container-display);
	position: fixed;
	bottom: 0;
	left: 0;
	width: calc((100vw - var(--sheldWidth)) / 2 - 1px);
}

#qol-custom-samplers-list::after {
	content: "Use the /qol-add-custom-sampler slash command to add custom samplers.";
	color: var(--SmartThemeEmColor);
	font-style: italic;
	opacity: 0.7;
}

#qol-custom-samplers-list{
	.sampler-key,
	.sampler-value {
		word-break: break-all;
	}

	.sampler-key {
		height: stretch;
		align-content: center;
		text-align: center;
	}

	.sampler-value .prop-item:nth-child(odd) {
		background-color: color-mix(in srgb, var(--SmartThemeBlurTintColor), var(--black30a));
	}
}