<div class="qol-extension-window standoutHeader" id="qol-display-active-entries" style="background-image: unset !important; background-color: var(--black30a);">
	<div class="inline-drawer">
		<div class="inline-drawer-toggle inline-drawer-header p-0">
            <b>Activated Lore Entries</b>
			<div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
		</div>

        <div class="inline-drawer-content">
            <div class="d-none qol-activated-world template flex-container flex-column">
                <b class="qol-activated-world-name separator-bottom thin"></b>

                <div class="qol-activated-world-entries flex-container flex-column gap-5px p-0"></div>
            </div>

            <div class="d-none qol-activated-entry template flex-container gap-5px p-0 separator-bottom thin">
                <span class="qol-activated-entry-icon"></span>
                <div class="qol-activated-entry-comment"></div>
            </div>

            <div id="qol-activated-worlds-list" class="flex-container flex-column"></div>
        </div>
    </div>
</div>