<div>
    <div class="flex-container border bg-ui general-row">
        <span class="sampler-key cursor-pointer bg-ui-darker flex1 text-quote-color" title="Copy sampler key on the clipboard"></span>
        <span class="sampler-value border-left flex1"></span>
    </div>

    <div class="flex-container border bg-ui list-dictionary-row">
        <span class="sampler-key cursor-pointer bg-ui-darker flex1 text-quote-color" title="Copy sampler key on the clipboard"></span>
        <div class="sampler-value border-left flex1 flex-container flex-column scroll max-h-20">
            <div class="flex-container prop-item d-none prop-template">
                <span class="flex1 prop-key text-quote-color"></span>
                <span class="flex1 prop-value"></span>
            </div>
        </div>
    </div>
</div>